@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Playwrite+AU+QLD:wght@100..400&display=swap');
.register-heading{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}